*{
  margin: 0;
  padding: 0;
}

/* å…¨ä½“è¨­å®š */
body{
  width: 100%;
}
li{
  list-style-type: none;
  text-align: center;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
a{
  text-decoration: none;
}
p{
  white-space: pre-line;
  text-align: center;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
h1{
  text-align: center;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
.float::after{
  content: "";
  display: block;
  clear: both;
}

/* swiper */
.swiper-slide img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  margin-top: 60px;
}
.s-fade-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 8rem;
  font-family: 'Gabriola','Zapfino',sans-serif;
}
.swiper-slide-active .s-fade-text {
  animation: slideTextFade 4s ease 0s 1 normal;
}
.s-three-button {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  color: white;
  top: 70%;
  left: calc( 50% - 75px );
  display: block;
  width: 150px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: pre-line;
}
.swiper-slide-active .s-three-button {
  animation: slideFromRightBtn 3s ease 0s 1 normal;
}

@keyframes slideTextFade {
  0%, 25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideFromRightBtn {
  0%, 65% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* header */
#logo{
  width: 20%;
  float: left;
  margin: 20px;
}
#site_header{
  position: fixed;
  width: 100%;
  background: white;
}
header li{
  display: inline-block;
  margin: auto 20px;
  font-size: 1.5rem;
  font-family: 'Constantia','Didot',sans-serif;
}
header ul{
text-align: right;
width: 100%;
margin: 50px auto;
}
header a{
  color: #e2c62f;
}

/* main */
/* img */
.main_c_img{
  width: 60%;
  margin: auto 3%;
  height: 400px;
  object-fit: cover;
  float:left;
}
#planimg{
 width: 80%;
 margin: auto 10%;;
}
.plan img{
  width: 70%;
  margin: auto 15%;
  object-fit: cover;
}
.plan_c_img{
  width: 100%;
  height: 300px;
  float: left;
  object-fit: cover;
}
#sub_content img{
  width: 40%;
  margin: 5% 30%;
}
#mapimg{
  width: 30%;
  float: left;
  margin-left: 20%;
}
#hotel{
  width: 20%;
  margin: 5% 40%;
}

.main_content{
  margin: auto;
}
.main_content h1{
  margin: 100px auto;
  color: #e2c62f;
  border-bottom: double 5px #e2c62f;
  width: 90%;
  font-size: 2rem;
  font-family: 'Constantia','Didot',sans-serif;
}
.main_content1{
  width: 90%;
  margin: auto;
}
.main_content1 p{
  width: 30%;
  margin: auto;
  float: left;
  text-align: left;
  font-weight: 600;
  color: #282525b3;
  font-size: 1.2rem;
}
#plan1{
  width: 60%;
  margin: auto;
}
#plan1 p{
  width: 50%;
  margin: auto;
}
#plan1 ul{
  width: 70%;
}
#plan1 h1,.plan h1{
  border-radius: 50px;
  padding: 10px;
  background-color: #577e62e8;
  width: 40%;
  border-bottom: initial;
  margin: 20px auto;
  font-size: 1rem;
}
.plan_content h1{
  font-size: 1rem;
}
.plan_content ul{
  margin: 30px auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: #5b5b5b;
}
#plan1 li {
  border-bottom: solid 1px #e2c62f;
  margin: auto;
  width: 80%;
	position: relative;
	padding: .2em;
}
#plan2 li,#plan3 li{
  border-bottom: solid 1px #e2c62f;
  margin: auto;
  width: 50%;
  position: relative;
  padding: .2em;
}
.plan{
  width: 50%;
  float: left;
}
.plan_sub{
  width: 90%;
  margin: auto;
}
.plan_sub_p{
  width: 70%;
  margin: auto;
  font-size: 1.2rem;
}
#more{
  color: #e2c62f;
  padding: 10px;
  border: solid 2px #e2c62f;
  border-radius: 50px;
  font-family: 'Segoe Print','Savoye LET',sans-serif;
  font-weight: bolder;
  line-height: 5;
}
#floatleft{
  float: left;
  width: 100%;
  font-size: 1.2rem;
}
#more:hover{
  background: #e2c62f;
  color: white;
}
#planner p{
  width: 60%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: #5b5b5b;
}
#planner{
  margin: 100px auto;
}
#contact{
  color: #e2c62f;
  font-size: 1.4rem;
}
#hotel:hover{
  opacity: 0.5;
}
#map{
  width: 90%;
  margin: auto;
}
#address{
  margin-top: 10%;
  font-size: 1.2rem;
  font-weight: 700;
  color: #5b5b5b;
}
th{
  padding: 5px;
}
#contact_item{
  font-size: 1.2rem;
  font-weight: 700;
  color: #5b5b5b;
}

/* footer */
footer{
  width: 100%;
  margin-top: 100px;
}
footer p{
  font-weight: bold;
  color: #067526;
}


/* トップ画像 */
#slider{
  max-width: 100%; margin: 0 auto; padding: 0; height: auto;
}
#slider img{
 width: 100%;
}

/* トップページへ戻る */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#pageTop i {
  padding-top: 16px;
}
#pageTop a {
  display: block;
  z-index: 999;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-color: #124d23;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* ヘッダーメニュー固定 */
#global_nav {
  position: static;
  top: -30px;
  transition: all 0.2s ease-out 0s;
  padding: 20px 0;
  background: white;
  width: 100%;
}
#global_nav.m_fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: solid 2px #ead892b3;
}
#site_header.hide{
    transform: translateY(-100%);
}
.global_list_item{
  display: inline-block;
  margin: auto 20px;
  font-size: 1.5rem;
  font-family: 'Constantia','Didot',sans-serif;
}
.global_list_item1{
  display: inline-block;
  float: right;
  margin: auto 16px;
  font-size: 1.2rem;
  color: #124d23;
}
#global_list{
  text-align: center;
}
.global_list_item a{
  color: #e2c62f;
}
#reserved{
  background: #337445;
  padding: 0 10px;
}
#reserved a{
  color: white;
}

/* ドロップダウンメニュー */
#dropmenu{
  display: none;
}

@media screen and (max-width: 959px) {
  .swiper-slide img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    margin-top: 30px;
}
  #logo{
    float: initial;
    margin: 0 40%;
  }
  header ul{
    text-align: center;
    margin: initial;
  }
  #site_header{
    padding-top: 40px;
  }
  .global_list_item{
    margin: 20px 10px;
    font-size: 1.2rem;
  }
  .global_list_item1{
    margin: 10px 20px;
  }
  #global_list{
    padding: 20px;
  }
  #global_nav{
    padding-top: 10px;
    padding: initial;
  }
  #plan1 p{
  width: 60%;
  }
  #dropmenu{
  display: none;
  }
  #mapimg{
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 559px){
  .s-fade-text{
    font-size: 1rem;
  }
  .header_list{
    display: none;
  }
  #site_header {
    padding-top: 20px;
    height: 60px;
    position: initial;
}
  #global_nav{
    display: none;
  }
  .swiper-slide img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.s-fade-text{
  font-size: 3rem;
}
#logo {
    float: initial;
    margin: 0 30%;
    width: 40%;
}
  .main_content1 p{
    float: initial;
    width: 90%;
    margin: auto;
  }
  .main_c_img{
    width: 100%;
    margin: 20px auto;
    height: 300px;
  }
  .plan{
    float: initial;
    width: 100%;
  }
  #plan1,#plan1 p,#plan1 h1{
    width: 80%;
  }
  #plan1 ul,#plan1 li{
    width: 100%;
  }
  #planimg{
    width: 100%;
    margin: auto;
  }
  .plan img{
    width: 80%;
    margin: auto 10%;
  }
  .plan_sub_p,#planner p{
    width: 90%;
  }
  #mapimg{
    float: initial;
    width: 100%;
    margin: auto;
  }
  #hotel{
    width: 60%;
    margin: 5% 20%;
  }
  #sub_content img{
    width: 80%;
    margin: 5% 10%;
  }
  /* トップボタン */
  #pageTop a{
    width: 40px;
    height: 40px;
  }
  #pageTop{
    bottom: 10px;
    right: 10px;
  }
  #pageTop i{
    padding-top: 12px;
  }

 /* ナビゲーションメニュー */
 header li{
   display: block;
 }
 #nav-toggle {
   position: fixed;
   top: 25px;
   right: 25px;
   height: 32px;
   cursor: pointer;
 }
 #nav-toggle div {
   position: relative;
   width: 36px;
 }
 #nav-toggle span {
   width: 100%;
   height: 1px;
   left: 0;
   display: block;
   background: #124d23;
   position: absolute;
   transition: transform .6s ease-in-out, top .5s ease;
 }
#nav-toggle span:nth-child(1) {
     top: 0;
   }
#nav-toggle span:nth-child(2) {
     top: 18px;
   }

.open #nav-toggle span {
   background: #124d23;
 }
.open #nav-toggle span:nth-child(1) {
     top: 15px;
     transform: rotate(45deg);
   }
.open #nav-toggle span:nth-child(2) {
     top: 15px;
     width: 0;
     left: 50%;
   }
.open #nav-toggle span:nth-child(3) {
     top: 15px;
     transform: rotate(-45deg);
   }

/* z-index */
#nav-toggle {
   z-index: 1000;
}
#container {
   z-index: 900;
}

#gloval-nav {
   background: #fff;
   color: #fff;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 990;
   text-align: center;
   display: flex;
   visibility: hidden;
 flex-direction: column;
 justify-content: center;
 align-items: center;
   font-size: 29px;
   opacity: 0;
   transition: opacity .6s ease, visibility .6s ease;
}


#gloval-nav a{
   display: block;
   color: #124d23;
   text-decoration: none;
   padding: 10px 0;
   font-size: 2rem;
   transition: color .6s ease;
 }
#gloval-nav a:hover {
     color: #666;
   }
#gloval-nav ul {
   list-style: none;
 }
#gloval-nav ul li {
     opacity: 0;
     transform: translateX(200px);
     transition:  transform .6s ease, opacity .2s ease;
}
#gloval-nav ul li:nth-child(2) {
       transition-delay: .15s;
     }
#gloval-nav ul li:nth-child(3) {
       transition-delay: .3s;
     }
#gloval-nav ul li:nth-child(4) {
       transition-delay: .45s;
     }
#gloval-nav ul li:nth-child(5) {
       transition-delay: .6s;
     }
#gloval-nav ul li:nth-child(6) {
       transition-delay: .75s;
     }
#gloval-nav ul li:nth-child(7) {
       transition-delay: .9s;
     }

/* open */
.open {
   overflow: hidden;
 }
 .open #gloval-nav {
   visibility: visible;
   opacity: 1;
 }
 .open #gloval-nav li {
   opacity: 1;
   transform: translateX(0);
   transition:  transform 1s ease, opacity .9s ease;
 }
}
